@font-face {
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
    src: url(https://fonts.gstatic.com/s/roboto/v27/KFOmCnqEu92Fr1Mu4mxK.woff2) format('woff2');
    unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
}
:root {
    --phoops-color: #E4166A;
    --phoops-borderRadius: 8px;
}

* {
    font-family: 'Roboto';
    color: #666;
}

.login-pf body {
    background: white none;
}

/* div.kc-logo-text  */
#kc-header-wrapper{
    background-image: url(../img/logo_phoops.png);
    background-position: center;
    background-repeat: no-repeat;
    height: 63px;  
    margin: 0 auto;
    margin-bottom: 30px;
    color: white; /*same color of the background to hide te text */
}

.pf-c-button.pf-m-primary {
    color: white;
    background-color: var(--phoops-color);
    border-radius: var(--phoops-borderRadius);
    font-size: 16px;
    height: 40px;
}

.card-pf {
    border-radius: var(--phoops-borderRadius);
    background-color: #dae6f7;
    border-top: 0;
}

#social-google {
    background-color: #eee;
    border-radius: var(--phoops-borderRadius);
    border: 1px solid var(--phoops-color);
}

.pf-c-form-control {    
    --pf-global--primary-color--100: var(--phoops-color);
    --pf-global--link--Color--hover: var(--phoops-color);
    border-color: gray;
    border-radius: var(--phoops-borderRadius);
}
.pf-c-form-control:focus {
    border-color: var(--phoops-color);
    border-width: 2px;
}

.pf-c-form-control:hover:not(:focus) {
    border-color: var(--phoops-color);
    border-width: 1px;
}


.pf-c-button.pf-m-control::after {
    --pf-c-button--BorderWidth: 0;
    --pf-c-button--BorderColor: transparent;
}

h4 {
    text-align: center;
}

:focus {
    outline: transparent auto 1px;
    outline-color: transparent;
    outline-style: auto;
    outline-width: 0;
}
:-moz-focusring {    
    outline: 2px dotted transparent;
    /* outline-color: var(--phoops-color);
    outline-style: auto;
    outline-width: 0; */
  }


